html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  h1 {
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    border-bottom: dotted black;
}

.content {
    padding: 3%;
    background: #ffffff;
    display: inline-block;
    flex-grow: 2;
    width: 960px;
    border: solid 1px;
    margin: 8%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    display: block
    
}

body {
    background-image: url("../images/light_honeycomb.png");
    
}


img {
    float: left;
    margin: 0;
}
.profilepic {
    margin: 3%;
}
a {
    letter-spacing: 3px;
}

.navbar-nav li a:hover {
        color: hotpink !important;
    }

.card {
    margin: 4%;
    background-color: #4aaaa5;
}

.card-title {
    color: aliceblue;
    text-align: center;
}

button {
    color: #4aaaa5;
}
